<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=edge" />
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="style.css" type="text/css" media="screen, projection" />
</head>

<body>

<div id="page">
<div id="wrapper">

	<header id="header">
		<div id="header-arrow">
		  <img src="/css/logo.png">
		  <div id="header-name">
        <div id="header-name1">
          Саратовская вышивальная
          <div id="header-phone"><span id="header-phone1">+7 (8452)</span> 202<span id="header-phone2">-</span>205</div>
        </div>
        <div id="header-name2">
          &nbsp;&nbsp;фабрика «Кавалери»
          <div id="header-about"><a href="/about/">О компании</a></div>
        </div>
      </div>
		</div ><!-- #header-arrow-->
	</header><!-- #header-->

	<section id="middle">
	<nav id="nav">
	 <ul>
	   <li id="nav-li1"><a href="/vyshivka/">
        <div class="nav1">Вышивка</div> 
        <div class="nav3">на одежде</div>
	   </a></li>
	   <li id="nav-li2"><a href="/poshiv/">
        <div class="nav1">Пошив</div>
	      <div class="nav3">спецодежды, промоформы</div>
     </a></li>
	   <li id="nav-li3"><a href="/art/">
        <div class="nav2">Художественная</div> 
        <div class="nav3">вышивка</div>
        <div class="nav4">картины, открытки</div>
	   </a></li>
	   <li id="nav-li4"><a href="/suvenir/">
        <div class="nav2">Сувенирная</div> 
        <div class="nav3">продукция</div>
        <div class="nav4">промо-материалы</div>
	   </a></li>
	 </ul>
	</nav>

		<div id="container">
			<div id="content">
			   <div id="body">
				<h1>Вышивка на одежде</h1>
<p>
Первое, что приходит на ум при слове «вышивка» — это вышивка крестом, вышивка бисером или вышивка картин. Все эти виды вышивок в 21 веке являются повсеместно распространенными и очень популярными среди жителей, пожалуй, всех без исключения стран. Научиться вышивке может любой человек и в любом возрасте. Кроме того занятие вышивкой благоприятно влияет на нервную систему, развивает терпеливость и усидчивость.
</p>
<p>
Сейчас занятие вышивкой принимает все более рекламный характер. Востребованной становится вышивка на одежде, создание шевронов и нашивок для отдельных организаций.
</p>
<p>
В современной рекламе существует большое число различных способов нанесения логотипа на одежду. Первый из этих методов — шелкография. Данная технология трафаретной печати известна очень давно и является самой распространенной среди всех видов нанесения. Сублимационная печать применяется и для нанесения различных изображений на ткань, и в отличие от других способов она позволяет наносить на ткань фотографии высокого качества.
</p>
<p>
Но все эти методы имеют свои существенные недостатки. С целью избавления заказчиков и производителей от всех видов неудобств сейчас на рынке и появился новый способ нанесения — машинная вышивка.
</p>
<div class="note">
Технология машинной вышивки имеет ряд неоспоримых преимуществ перед своими конкурентами:
<ol>
<li>
высокая устойчивость окраски ниток, позволяющая использовать вашу одежду в любых    
    погодных условиях и нестандартных ситуациях,
</li><li>объемная фактура, позволяющая сделать рисунок или текст гораздо интереснее и 
    привлекательнее в глазах потенциальных потребителей,
</li><li>долговечность, позволяющая сэкономить на постоянном дорогостоящем обновлении 
    старых нанесений,
</li><li>дорогой и эффектный вид, способный создать правильный имидж вашей компании на  
    рынке.
</li></ol>
</div>
<p>
Наша швейная фабрика осуществляет производство вышивки на заказ с помощью современного промышленного оборудования Tajima TFMX японского производства. Промышленное оборудование дает нам возможность достичь высокого качества в короткие сроки исполнения с низкой стоимостью товара. Мы вышиваем как на готовых изделиях (футболки, бейсболки, полотенца, текстиль), так и на крое. Мы вышиваем на всем на чем можно вышить — трикотаж, стабильные ткани, плащевка, нетканый материал, кожа, замша, кожзам, шифон, органза, махровая ткань и т.д. В перечень наших услуг входит:
</p>
<p>
— Нанесение шеврона с логотипом компании (пришивные и на самоклеющейся основе)
<br>
— Вышивка на спецодежде
<br>
— Вышивка на головных уборах
<br>
— Геральдическая вышивка
<br>
— 3D-вышивка
</p>
			 </div><!-- #body-->
      </div><!-- #content-->
		</div><!-- #container-->

		<aside id="sideLeft">
			
		</aside><!-- #sideLeft -->

	</section><!-- #middle-->

</div><!-- #wrapper -->
</div><!-- #page -->

<footer id="footer">
	<nav id="footer-nav">
	<ul>
	 <li><a href="/about/">О компании</a></li>
	 <li><a href="/news/">Новости</a></li>
	 <li class="footer-nav-li-line"><a href="/order/">Оформить заказ</a></li>
	</ul><ul>
	 <li><a href="/vyshivka/">Вышивка на одежде</a></li>
	 <li><a href="/poshiv/">Пошив спецодежды</a></li>
	</ul><ul> 
	 <li><a href="/art/">Художественная вышивка</a></li>
	 <li><a href="/art/">Картины, открытки</a></li>
	 <li><a href="/suvenir/">Сувенирная продукция</a></li>
	 <li><a href="/suvenir/">Промо-материалы</a></li>
	</ul><ul>
	 <address>
    	Саратов, <br> 
    	ул. Чернышевского, 88, офис 2 <br>
    	+7 (8452) 202-205 <br>
    	<a href="mailto:vishivka@kvl.ru">vishivka@kvl.ru</a> <br>
	 </address>
	</ul>
	</nav>
	
</footer><!-- #footer -->


</body>
</html>